/* status ---------------------------------------- */

.todo {
    background-color:#FFE0E0;
}

.done {
    background-color:#E0FFE0;
}

.todo time {
    display:none;
}

/* header ---------------------------------------- */

body {
    font-size:16px;
}

a {
    color:black;
}

a:visited {
    color:#555;
}

header {
    margin:0 0 0.5em 0;
    padding:1em;
    padding-bottom:0.5em;
    border-bottom:8px solid #DDD;
    background-color:#F5F5F5;
}

header h1 {
    margin:0.2em;
    font:bold 2em sans-serif;
}

header h2 {
    margin-left:1.0em;
    font:italic 1.0em sans-serif;
}

/* body ---------------------------------------- */

#body {
    margin:0 5%;
}

/* section headings */
#body h1 {
    font-size:1.3em;
    font-weight:bold;
}

/* entry headings */
#body h2 {
    font:bold 1em sans-serif;
}

#body > div {
    margin:2em 1em;
    padding:0.4em;
    padding-left:1em;
    border-left:1px solid #DDD;
}

#body > div > div {
    margin:0.8em;
    padding:0.5em;
}