/* status ---------------------------------------- */

.todo {
    background-color:#FFF0F0;
    border-left:3px solid #FF0000;
}

.wip {
    background:#FFFFD9 url("../img/wip.png") no-repeat 99.6% 3px;
    border-left:3px solid #FFFF00;
}

.done {
    background:#F0FFF0 url("../img/check.png") no-repeat 99.6% 3px;
    border-left:3px solid #00FF00;
}

.todo time {
    display:none;
}

.todo article {
    display:none;
}

time {
    display:inline-block;
    margin:0.2em;
    margin-left:0.5em;
    padding:0.3em;
    background-color:#F0F0F0;
    border:1px solid #D0D0D0;
    border-radius:6px;
}

.wip time:before {
    content:"Last Updated: ";
}

.done time:before {
    content:"Finished: ";
}

/* header ---------------------------------------- */

body {
    font-size:16px;
}

a {
    color:black;
}

a:visited {
    color:#555;
}

header {
    margin:0 0 0.5em 0;
    padding:1em;
    padding-bottom:0.5em;
    border-bottom:8px solid #DDD;
    background-color:#F5F5F5;
}

header h1 {
    display:inline-block;
    margin:0.2em;
    font:bold 2em sans-serif;
}

header h2 {
    margin-left:1.0em;
    font:italic 1.0em sans-serif;
}

/* body ---------------------------------------- */

#body {
    max-width:50em;
    width:%80;
    margin:0 auto;
    text-align:center;
}

#body * {
    text-align:left;
}

/* section headings */
#body h1 {
    font-size:1.3em;
    font-weight:bold;
}

/* entry headings */
#body h2 {
    font:bold 1em sans-serif;
}

#body > div {
    margin:2em 1em;
    padding:0.4em;
    padding-left:1em;
    border-left:1px solid #DDD;
}

#body > div > div {
    margin:0.8em;
    padding:0.5em;
}

article p {
    margin:0.5em;
    text-indent:0.5em;
}

/* footer ---------------------------------------- */

footer {
    margin:0 auto;
    text-align:center;
    color:#555;
}

footer a {
    color:#555;
}

footer a:visited {
    color:#888;
}

footer li {
    display:inline-block;
    padding:0 1em;
}

footer li + li {
    border-left:1px solid #DDD;
}