<!doctype html>
<html>
<head>
  <title>{{ page.title }}: Leveling up as a developer Log</title>
  <link rel="stylesheet" href="css/reset.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
  <body>
    <header>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <h2><a href="http://jasonrudolph.com/blog/2011/08/09/programming-achievements-how-to-level-up-as-a-developer/">Leveling up as a developer</a> <a href="#">Log</a></h2>
    </header>

    <div id="body">
      {{ content }}
    </div>

    <footer>
      <!-- Something should go here -->
    </footer>
  </body>
</html>
